.set-statistics {
    display: flex;
    flex-wrap: wrap;
}

.set-statistic {
    margin: 10px;
    padding: 20px;
    width: 15em;
}

.digital-set {
    background-color: lightpink;
}

.regular-set {
    background-color: lightcyan;
}

.set-statistic-options {
    float: left;
}
